/* 
@authors: Alex Tzonis
@date (last updated): 4/17/2025 

colors: 
* gray: #3C3C3C
* dark gray: #202020

etamu colors:
  * Yellow: #FFC13B
  * Blue: #003867
  * Dark Blue: #002446
*/

body {
  background-color: #202020;
  color: white; 
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-align: center;
}

.attack-controls-container {
  background-color: #3C3C3C;
  border: 5px solid black;
  border-radius: 15px;
  display: flex-start;
  margin: 20px;
  padding: 20px;

  /*
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  */
}

.attack-select-container {
  align-items: flex-start;
  margin: 20px;
  padding: 20px;
}

.attack-types-container {
  background-color: #3C3C3C;
  border: 5px solid black;
  border-radius: 15px;
  display: flex;
  justify-content: stretch;
  align-items: center;
  margin: 20px;
  padding: 20px;

  /*
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
  */
}


.attack-config-container {
  margin: 20px;
  padding: 20px;
}

.add-config-button{
  background-color: gray;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

.add-config-button:hover{
  background-color: green;
  transition: 0.5s ease;
}

.execute-sim-button {
  background-color: green;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  transition: 0.5s ease;
}

.execute-sim-button:hover {
  background-color: lightgreen;
  transition: 0.5s ease;
}

.pause-sim-button {
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  transition: 0.5s ease;
}

.pause-sim-button:hover {
  background-color: lightgrey;
  transition: 0.5s ease;
}

.stop-sim-button {
  background-color: red;
  border: 1px solid black;
  border-radius: 15px;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  transition: 0.5s ease;
}

.stop-sim-button:hover {
  background-color: lightcoral;
  transition: 0.5s ease;
}

.event-panel-container{
  background-color: #3C3C3C;
  border: 5px solid black;
  border-radius: 15px;
  display: flex-start;
  justify-content: stretch;
  align-items: center;
  margin: 20px;
  padding: 20px;

  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

.attack-selector-input {
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}

.attack-info-container {
  padding: 5px;
}

.attack-info-labels {
  background-color: #3C3C3C;
  border: 3px solid black;
  color: white;
  padding: 5px;
}




/*
---------------------------------------------------------------------------------------------------------------------------
ConfigBF
---------------------------------------------------------------------------------------------------------------------------
*/







/*
---------------------------------------------------------------------------------------------------------------------------
ConfigDoS
---------------------------------------------------------------------------------------------------------------------------
*/

.dos-select-input {
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-align: center;
}

.dos-input-container, .dos-select-container {
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.dos-input-container input[type="text"] {
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
}

.dos-input-container input[type="number"] {
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
}

.dos-input-container input[type="checkbox"] {
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  margin: 2px;
  padding: 2px;
}

.dos-input-container input[type="checkbox"]:disabled:hover {
  cursor: auto;
}

.dos-input-container input:disabled {
  background-color: #202020;
  color: #3C3C3C;
}

.dos-select-container select {
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-align: center;
}

.dos-save-config{
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-align: center;
}

.dos-button-locks {
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  color: white;
  margin: 2px;
  padding: 2px;
  font-family: Arial, sans-serif;
  font-size: 9px;
  text-align: center;
}

.dos-button-locks:disabled {
  color: #3C3C3C;
}

.dos-button-locks:hover {
  cursor: pointer;
}

.dos-button-locks:hover:disabled {
  cursor: auto;
}

/*
---------------------------------------------------------------------------------------------------------------------------
ConfigPhish
---------------------------------------------------------------------------------------------------------------------------
*/

.ph-email-container{
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.ph-email-container input{
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.ph-subject-container{
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.ph-subject-container input{
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.ph-message-container{
  background-color: #202020;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}

.ph-message-container input{
  background-color: #3C3C3C;
  border: 2px solid black;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
}


/*
---------------------------------------------------------------------------------------------------------------------------
EventLogs
---------------------------------------------------------------------------------------------------------------------------
*/

.event-table-container{
  background-color: blue;
}

.event-table{
  background-color: #202020;
  border: 3px solid black;
  overflow-x: auto;
  overflow-y: auto;
  width: 100%;
}

.event-table tr{
  background-color: #3C3C3C;
}

.event-table th{
  font-size: 10px;
  padding: 5px;
}


/*
---------------------------------------------------------------------------------------------------------------------------
Navbar & Header
---------------------------------------------------------------------------------------------------------------------------
*/

.navbar-container{
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 5px;
  width: 100%;
}

header{
  align-items: center;
  background-color: #3C3C3C;
  border-bottom: 5px solid black;
  display: flex;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: left;
}

#navbar-buttons{
  background-color: #3C3C3C;
  border: 3px solid black;
  color: white;
}



